@import "tailwindcss";


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}